<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Example1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <security-role>
    <role-name>Admin</role-name>
  </security-role>
  <security-role>
    <role-name>Member</role-name>
  </security-role>
  <security-role>
    <role-name>Guest</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>UpdateRecipies</web-resource-name>
      <url-pattern>/Beer/AddReipe/*</url-pattern>
      <url-pattern>/Beer/ReviewRecipe/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Admin</role-name>
      <role-name>Member</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>TesteServlet</display-name>
    <servlet-name>TesteServlet</servlet-name>
    <servlet-class>servlet.TesteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesteServlet</servlet-name>
    <url-pattern>/testeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterTeste</display-name>
    <filter-name>FilterTeste</filter-name>
    <filter-class>filter.FilterTeste</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterTeste</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listener.HttpSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.ContextAttributeListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>TesteAddAttrContext</display-name>
    <servlet-name>TesteAddAttrContext</servlet-name>
    <servlet-class>servlet.TesteAddAttrContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesteAddAttrContext</servlet-name>
    <url-pattern>/testeAddAttrContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TesteEditAttrContext</display-name>
    <servlet-name>TesteEditAttrContext</servlet-name>
    <servlet-class>servlet.TesteEditAttrContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesteEditAttrContext</servlet-name>
    <url-pattern>/testeEditAttrContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TesteDelAttrContext</display-name>
    <servlet-name>TesteDelAttrContext</servlet-name>
    <servlet-class>servlet.TesteDelAttrContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesteDelAttrContext</servlet-name>
    <url-pattern>/testeDelAttrContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidSession</display-name>
    <servlet-name>InvalidSession</servlet-name>
    <servlet-class>servlet.InvalidSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidSession</servlet-name>
    <url-pattern>/invalidSession</url-pattern>
  </servlet-mapping>
</web-app>